<h1>Listing accounts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.balance %></td>
        <td><%= link_to 'Show', account, class: "btn" %></td>
        <td><%= link_to 'Edit', edit_account_path(account), class: "btn" %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
